i {
	color: #ffffff;
}

.button {
	color: #ffffff;
	border: none;
	border-radius: 3px;
	outline: none;
}

button:hover {
	opacity: 90%;
}

button:focus {
	outline: 0 !important;
}

.box {
	background-color: #ffffff;
	padding: 40px 60px 40px 60px;
	border-radius: 10px;
	height: 400px;
	max-width: 800px;
	min-width: 560px;
	display: block;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.newQuote {
	height: 40px;
	width: 100px;
	padding: 5px;
	position: absolute;
	right: 30%;
	bottom: 20%;
}

.twitter {
	width: 40px;
	height: 40px;
	padding: 5px;
	font-size: 22px;
	position: absolute;
	left: 30%;
	bottom: 20%;
}

.currA {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	position: relative;
	right: 0.5px;
	bottom: 1px;
	font-size: 18px;
}

.currQ {
	font-family: "Lobster", serif;
	font-size: 1.75em;
	font-weight: 50;
	word-wrap: break-word;
}

hr {
	width: 300px;
	opacity: 50%;
}
